$primary-color: #08131b;
$secondary-color: #2A6593;
$card-gradient: linear-gradient(#112331, #6300dd);
$card-gradient-fav: linear-gradient(#10283a, #00cc2c);
$card-gradient-create: linear-gradient(#0d1f2c, #990000);
$card-gradient-createAndFav: linear-gradient(#00aa25d9, #990000);
$text-color: #fff;
$status-color-alive: rgb(0, 207, 0);
$status-color-dead: rgb(194, 0, 0);
$status-color-unknown: rgba(70, 70, 70, 0.856);

$font-primary: "Syncopate", sans-serif;