$primary-color: #08131b;
$secondary-color: #2A6593;
$card-gradient: linear-gradient(#112331, #6300dd);
$card-gradient-fav: linear-gradient(#10283a, #00cc2c);
$card-gradient-create: linear-gradient(#0d1f2c, #990000);
$text-color: #fff;

$font-primary: "Syncopate", sans-serif;